@media (max-width: 767px) {
    table {
      width: 100%;
      border-collapse: collapse;
    }
    td, th {
      padding: 0.5em;
      border: 1px solid #ddd;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
  }
  